<!DOCTYPE html>
{% extends 'base.html' %}

{% block content %}
  <div class="row mt-4">
    {% for E in eBooks %}
    <div class="col">
      <div class="card" style="width: 18rem;">
        <img src="{{ E.cvr_url }}" class="card-img-top" alt="book image">
        <div class="card-body">
          <h5 class="card-title">{{ E.title }}</h5>
          <p class="card-text">Prices: {{ E.price }}</p>
          <form action="cart_add_item/" method="post">
            <button class="btn btn-primary" type="submit" name="book_id" value="{{ E.id }}">
              <i class="fa-solid fa-cart-plus"></i>
              Add to Cart
            </button>
          </form>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
{% endblock %}